# IDEA files (NOTE: We do want the main .iml file in version control!)
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/modules.xml
/.idea/encodings.xml
/.idea/libraries/*
/.idea/artifacts/*
/**/*.iml
atlassian-ide-plugin.xml
.ant-targets-*.xml
# Build / deploy directories
/target/
/*/target/