<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="mainService" class="guice.comparison.service.MainService">
        <property name="serviceOne">
            <ref bean="serviceOne"/>
        </property>
        <property name="serviceTwo">
            <ref bean="serviceTwo"/>
        </property>
        <property name="serviceThree">
            <ref bean="serviceThree"/>
        </property>
    </bean>

    <bean id="serviceOne" class="guice.comparison.service.ServiceOne">
        <property name="serviceFour">
            <ref bean="serviceFour"/>
        </property>
        <property name="serviceFive">
            <ref bean="serviceFive"/>
        </property>
        <property name="serviceSix">
            <ref bean="serviceSix"/>
        </property>
    </bean>

    <bean id="serviceTwo" class="guice.comparison.service.ServiceTwo">
        <property name="serviceSeven">
            <ref bean="serviceSeven"/>
        </property>
        <property name="serviceEight">
            <ref bean="serviceEight"/>
        </property>
        <property name="serviceNine">
            <ref bean="serviceNine"/>
        </property>
    </bean>

    <bean id="serviceThree" class="guice.comparison.service.ServiceThree">
        <property name="serviceTen">
            <ref bean="serviceTen"/>
        </property>
        <property name="serviceEleven">
            <ref bean="serviceEleven"/>
        </property>
        <property name="serviceTwelve">
            <ref bean="serviceTwelve"/>
        </property>
    </bean>

    <bean id="serviceFour" class="guice.comparison.service.ServiceFour">
    </bean>
    <bean id="serviceFive" class="guice.comparison.service.ServiceFive">
    </bean>
    <bean id="serviceSix" class="guice.comparison.service.ServiceSix">
    </bean>
    <bean id="serviceSeven" class="guice.comparison.service.ServiceSeven">
    </bean>
    <bean id="serviceEight" class="guice.comparison.service.ServiceEight">
    </bean>
    <bean id="serviceNine" class="guice.comparison.service.ServiceNine">
    </bean>
    <bean id="serviceTen" class="guice.comparison.service.ServiceTen">
    </bean>
    <bean id="serviceEleven" class="guice.comparison.service.ServiceEleven">
    </bean>
    <bean id="serviceTwelve" class="guice.comparison.service.ServiceTwelve">
    </bean>
</beans>